@use "../utils/variables" as vars;

.juegos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 600px) {
  .juegos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .juegos {
    grid-template-columns: repeat(3, 1fr);
  }
}

